/*universal*/
html {
	font-size: 16px;
	}

.sect-title {
	margin-top: 5rem;
	margin-bottom: 3rem;
}

/*social FA icons*/


/*nav*/
.navbar-brand {
	display: flex;
}

#kbimg {
	height: 1.5rem;
	width:auto;
}

/*jumbo*/
.jumbotron, #hero {
	background-color: white;
}

#jumboheading {
	margin-top: 8rem;
}

/*portfolio*/
#portfolio {
	background-color: ;
	padding-top: 3rem;
	padding-bottom: 4rem;
	border-top: 1px solid hsla(218,34%,85%,1);
}

.row {
	margin-top:3rem;
	margin-bottom:3rem;
}

.col-sm-4 {
	padding: 3rem 1rem;
}

/*skills*/
#skills {
	padding-top: 30px;
	padding-bottom: 60px;
}

#cvbutton {
	margin-top: 30px;
	margin-bottom: 40px;
}

/*about me*/
#aboutme {
	padding-top: 30px;
	padding-bottom: 60px;
}

.decimal {
	list-style: decimal inside none;
}

/*hire me*/
#hireme {
	padding-top: 30px;
	padding-bottom: 60px;
	
}

/*footer*/
footer {
	padding-top: 4rem;
	}

#footercontainer {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-bottom: 1rem;
	align-items: center;
}

footer ul {
	display: flex;
	justify-content: space-between;
}

#footercontainer ul li {
	width: 4rem;
	text-align:center;
}


/*websitedesign*/
#rootsgr {
	border-top: 1px solid hsla(218,34%,85%,1);
	padding-top: 60px;
}

.ulcircle {
	list-style: circle inside none;
}
